.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.imagePlaceholder {
    height: 200px;
    background-color: #f1f5f9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #94a3b8;
    border-radius: var(--radius);
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.type {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 0.25rem;
}

.title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.location {
    color: var(--text-light);
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 1.25rem;
    font-weight: 700;
}